html {
  max-width: 600px;
  margin: auto;
  font-family: 'Arial', 'Avenir', 'Corbel', 'Osaka', 'Hiragino Kaku Gothic Pro', 'sans-serif';
}
#app {
  margin: 40px;
}
#top {
  display: flex;
  position: relative;
  height: 60px;
  a {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: gray;
    &:hover {
      font-weight: bold;
    }
  }
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px 10px;
  td.check {
    width: 30px;
  }
  td.change {
    width: 60px;
  }
  td.delete {
    width: 60px;
  }
}
.todoName {
  font-size: large;
  font-weight: bold;
}
.done {
  text-decoration: line-through;
  color: gray;
}
.btn {
  border: none;
  border-radius: 8px;
  line-height: 24px;
  color: white;
  font-size: medium;
  padding: 2px 12px;
  text-decoration: none;
  outline: none;
  width: 60px;
}
.change-btn {
  @extend .btn;
  background: skyblue;
  &:hover {
    background: deepskyblue;
  }
}
.del-btn {
  @extend .btn;
  background: salmon;
  &:hover {
    background: tomato;
  }
}
.form {
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}
.change-input {
  @extend .form;
  width: 80%;
}
#addForm {
  display: flex;
  margin-top: 100px;
  input[type='text'] {
    @extend .form;
    width: 80%;
    margin: 0 40px;
  }
  button {
    @extend .btn;
    background: lightgreen;
    &:hover {
      background: mediumseagreen;
    }
  }
}
